<h4 class="align-center">{{this.getHeading}}</h4>
<div class="row mt-4 mb-5">
    <div class="col-md-4">
        <app-course-list #courseList [clickedCourse]="selectedCourse$ | async" [courseId]="selectedCourseId$ |async">
        </app-course-list>
    </div>
    <div class="col-md-8">
        <app-course-details [selectedCourse]="selectedCourse$ | async" [courseRating]="courseRating$ | async"
            [inputRating]="courseRating$ | async" (removeCourseEvent)="courseList.removeCourseFromList($event)">
        </app-course-details>
    </div>
</div>