<div class="row mt-4 mb-5">
    <div class="col-md-6 offset-md-3 mb-5">
        <h4 class="align-center">Create Course</h4>
        <form #createForm="ngForm" (ngSubmit)="createHandler(createForm.value)">
            <div class="form-group">
                <label for="title">Title</label>
                <input #title="ngModel" type="text" ngModel name="title" class="form-control"
                    placeholder="Interesting title" required>
                <div *ngIf="title.errors?.required && title.dirty" class="alert alert-danger form-alert">
                    Field is required.
                </div>
            </div>

            <div class="form-group">
                <label for="content">Summary</label>
                <textarea #summary="ngModel" class="form-control" ngModel name="summary" placeholder="Short summary..."
                    rows="5" required></textarea>
                <div *ngIf="summary.errors?.required && summary.dirty" class="alert alert-danger form-alert">
                    Field is required.
                </div>
            </div>

            <div class="form-group">
                <label for="content">Content</label>
                <textarea #content="ngModel" class="form-control" ngModel name="content" placeholder="Content..."
                    rows="15" required></textarea>
                <div *ngIf="summary.errors?.required && summary.dirty" class="alert alert-danger form-alert">
                    Field is required.
                </div>
            </div>
            
            <button type="submit" class="btn btn-primary" [disabled]="!createForm.valid">
                Create
            </button>
        </form>
    </div>
</div>