<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a routerLink="" class="navbar-brand">
        <img src="../../../assets/icon-cm.png" class="app-icon d-inline-block align-top" alt="icon">
        Course Management
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" routerLink="">Home<span class="sr-only">(current)</span></a>
            </li>
            <li *ngIf="!!loggedUser" ngbDropdown class="nav-item">
                <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>Courses</a>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button routerLink="course/list" ngbDropdownItem>All Courses</button>
                    <button routerLink="course/favorites" ngbDropdownItem>Favorites</button>
                    <button routerLink="course/create" *ngIf="isUserAdmin()" ngbDropdownItem>Add Course</button>
                    <button routerLink="course/mycourses" ngbDropdownItem>My Courses</button>
                </div>
            </li>
            <li *ngIf="!!loggedUser" class="nav-item">
                <a class="nav-link" routerLink="course/board">Board</a>
            </li>
            <li *ngIf="isUserAdmin()" class="nav-item">
                <a class="nav-link" routerLink="account/list">Manage Users</a>
            </li>
        </ul>

    </div>
    <div *ngIf="!loggedUser">
        <button routerLink="/account/register" class="btn btn-danger mr-sm-2 my-2 my-sm-0"
            type="submit">Register</button>
        <button routerLink="/account/login" class="btn btn-primary my-2 my-sm-0" type="submit">Login</button>
    </div>
    <div *ngIf="loggedUser">
        <button routerLink="/account/profile" class="btn btn-light mr-sm-2 my-2 my-sm-0"
            type="submit">{{loggedUser.firstName}} {{loggedUser.lastName}}
        </button>
        <button (click)="logoutHandler()" type="submit" class="btn btn-danger float-right">
            Logout
        </button>
    </div>
</nav>