<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a routerLink="" class="navbar-brand">
        <img src="../../../assets/icon-cm.png" width="30" height="30" class="d-inline-block align-top" alt="icon">
        Course Management
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" routerLink="">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Courses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Favorites</a>
            </li>
            
        </ul>
    </div>
    <div *ngIf="!loggedUser">
        <button routerLink="/account/register" class="btn btn-danger mr-sm-2 my-2 my-sm-0" type="submit">Register</button>
        <button routerLink="/account/login" class="btn btn-primary my-2 my-sm-0" type="submit">Login</button>
    </div>
    <div *ngIf="loggedUser">
        <button routerLink="/account/profile" class="btn btn-light mr-sm-2 my-2 my-sm-0" type="submit">{{loggedUser.firstName}} {{loggedUser.lastName}}</button>
    </div>    
</nav>