<div class="row mt-4" *ngIf="this.loggedUser">
    <div class="col-md-3 offset-md-2">
        <h4 class="align-center">Profile</h4>
        <form #profileForm="ngForm" (ngSubmit)="updateProfileHandler(profileForm.value)">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="email" class="form-control " [placeholder]="loggedUser.username" disabled>
            </div>
            <div class="form-group">
                <label for="firstName">First name</label>
                <input #firstname="ngModel" type="text" [(ngModel)]="loggedUser.firstName" name="firstName"
                    class="form-control colored-background" [placeholder]="loggedUser.firstName" minlength="3">
                <div *ngIf="firstname.errors?.minlength && firstname.dirty" class="alert alert-danger form-alert">
                    Invalid input length.
                </div>
            </div>

            <div class="form-group">
                <label for="lastName">Last name</label>
                <input #lastname="ngModel" type="text" [(ngModel)]="loggedUser.lastName" name="lastName"
                    class="form-control colored-background" [placeholder]="loggedUser.lastName" minlength="3">
                <div *ngIf="lastname.errors?.minlength && lastname.dirty" class="alert alert-danger form-alert">
                    Invalid input length.
                </div>
            </div>

            <button type="submit" class="btn btn-outline-primary">
                Update Profile
            </button>
        </form>
    </div>
    <div class="col-md-3 offset-md-1">

        <h4 class="align-center">Change Password</h4>
        <form #passwordForm="ngForm" (ngSubmit)="changePasswordHandler(passwordForm.value)">

            <div class="form-group">
                <label for="password">Current Password</label>
                <input #password="ngModel" type="password" name="password" ngModel name="password"
                    class="form-control colored-background" required
                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d\S]{8,}$">
                <div *ngIf="password.errors?.required && password.dirty" class="alert alert-danger form-alert">
                    Password is required.
                </div>
                <div *ngIf="password.errors?.pattern && password.dirty" class="alert alert-danger form-alert">
                    Password is not in valid format. It must contain 8 characters. At least: 1 lower case letter, 1
                    upper case letter and 1 digit
                </div>
            </div>


            <div class="form-group">
                <label for="newPassword">New Password</label>
                <input #newPassword="ngModel" type="password" name="newPassword" ngModel
                    class="form-control colored-background" required
                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d\S]{8,}$">
                <div *ngIf="newPassword.errors?.required && newPassword.dirty" class="alert alert-danger form-alert">
                    Password is required.
                </div>
                <div *ngIf="newPassword.errors?.pattern && newPassword.dirty" class="alert alert-danger form-alert">
                    Password is not in valid format. It must contain 8 characters. At least: 1 lower case letter, 1
                    upper case letter and 1 digit
                </div>
                <div *ngIf="password.dirty && newPassword.dirty && newPassword.value === password.value"
                    class="alert alert-danger form-alert">
                    Current password is the same as the New Password.
                </div>
            </div>

            <div class="form-group">
                <label>Confirm New Password</label>
                <input #confirmPassword="ngModel" type="password" name="confirmPassword" ngModel
                    class="form-control colored-background" required>
                <div *ngIf="confirmPassword.errors?.required && confirmPassword.dirty"
                    class="alert alert-danger form-alert">
                    Field is required.
                </div>
                <div *ngIf="newPassword.dirty && confirmPassword.dirty && newPassword.value !== confirmPassword.value"
                    class="alert alert-danger form-alert">
                    Passwords do not match.
                </div>
            </div>

            <button type="submit" class="btn btn-outline-primary">
                Change password
            </button>
        </form>
    </div>
</div>
<div class="row mt-5">
    <app-map-box class="col profile-map"></app-map-box>
</div>
<div class="row">
    <div class="col-md-2 offset-md-1">
        <button class="btn btn-outline-primary profile-map-btn" (click)="updateMarker()">Mark desired location</button>
    </div>
</div>