.align-center {
    text-align: center;
    margin-bottom: 1em;
}

input:focus {
    background-color: yellow;
}

.colored-background {
    background-color: lightgoldenrodyellow;
}

.form-alert {
    padding: 0.3em 0.7em;
    margin: 0.2em 0 1em 0;
    font-size: 0.8em;
}

.profile-map {
    height: 15em;
    margin: 1em 0 1em 0;
}

.profile-map-btn {
margin: 1em 0 5em 1em;
}