<div class="row mt-4">
    <div class="col-md-6 offset-md-3">
        <h4 class="align-center">All Accounts</h4>
        <table *ngIf="this.accounts[0]" class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Name</th>
                    <th scope="col">Action</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let account of this.accounts; index as i">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{account.username}}</td>
                    <td>{{account.firstName}} {{account.lastName}}</td>
                    <td>
                        <button *ngIf="account.isBlocked" class="btn btn-outline-success"
                            (click)="unblockHandler(account.id)">Unblock</button>
                        <button *ngIf="!account.isBlocked" class="btn btn-outline-secondary"
                            (click)="blockHandler(account.id)">Block</button>
                    </td>
                    <td>
                        <button class="btn btn-danger" (click)="deleteHandler(account.id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>