<div *ngIf="!!selectedCourse">
    <h6>{{selectedCourse.title}}</h6>
    <p>{{selectedCourse.createdOn}}</p>
    <p>{{selectedCourse.author}}</p>
    <p>{{selectedCourse.content}}</p>
    <button *ngIf="!selectedCourse.isFavorite" class="btn btn-outline-primary" (click)="addToFavoritesHandler(selectedCourse.id)">Add to favorites</button>
    <button *ngIf="selectedCourse.isFavorite" class="btn btn-outline-danger" (click)="removeFromFavoritesHandler(selectedCourse)">Remove from favorites</button>
</div>