<div class="row">
  <h4 class="align-center">Board</h4>
</div>

<div cdkDropListGroup class="ml-2 mr-2">

  <div class="row">
    <div class="col-lg-9 offset-lg-1">
      <div cdkDropList [cdkDropListData]="all" class="container" (cdkDropListDropped)="drop($event)">
        <div class="flex btn-primary" *ngFor="let course of all" cdkDrag>{{course}}</div>
      </div>
    </div>
  </div>

  <div class="row mt-3">

    <div class="col-lg-3 offset-lg-1">
      <h5>To Do</h5>
      <div cdkDropList [cdkDropListData]="todo" class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let course of todo" cdkDrag>{{course}}</div>
      </div>
    </div>

    <div class="col-lg-3">
      <h5>In Progress</h5>
      <div cdkDropList [cdkDropListData]="inProgress" class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let course of inProgress" cdkDrag>{{course}}</div>
      </div>
    </div>

    <div class="col-lg-3">
      <h5>Done</h5>
      <div cdkDropList [cdkDropListData]="done" class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let course of done" cdkDrag>{{course}}</div>
      </div>
    </div>
  </div>
</div>